.container {
  width: 100%;
  margin: auto;
  text-align: center;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #5584AC;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
   text-shadow: 5px 0 #22577E;/*#232931; */
  font-size: 8rem;
  color: #8FBDD3;
}

p {
  font-size: 2rem;
  color: #8FBDD3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  
}




.btn{
  color:#5584AC;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  background-color:#8FBDD3;
  margin: auto;
  align-items: center;
  margin-top: 5%;
  border-radius: 10px;
  cursor: pointer;
  border-color: black;

}


@media only screen and (max-width: 600px) {
  
  h1{
    font-size: 4rem;
    
  }
  img{
  width: 40%;
  }
  .btn{
    padding: 10px;
    font-size: 1.5;
  }
}


